.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    height: 75px;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.nav__black {
    background: rgb(53, 52, 52);
}

.nav__logo {
    width: 90px;
    object-fit: contain;
    position: fixed;
    left: 70px;
}

.nav__avatar {
    width: 35px;
    object-fit: contain;
    position: fixed;
    right: 70px;
    top: 15px;
}

.nav__avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: contain;
}

.netflix__search__input__div {
    position: fixed;
    right: 150px;
    top: 20px;
    display: flex;
    flex-direction: row;
}

.netflix__search__input__icon {
    position: absolute;
    top: 10px;
    left: 6px;
    z-index: 100;
    color: white;
}

.netflix__search__input__icon__homepage {
    color: white;
    position: fixed;
    right: 150px;
    top: 30px;
}

.netflix__search__input {
    position: relative;
    padding: 10px;
    color: white;
    padding-left: 32px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
    transition: width 350ms ease-in-out;
    background: transparent;
    cursor: pointer;
}

.netflix__search__input:focus {
    width: 200px;
    border: 1px solid white;
    background: rgb(32, 32, 32);
}