.navpopup__container {
    width: 150px;
    height: auto;
    background-color: black;
    color: white;
    position: absolute;
    top: 50px;
    left: -150px;
    border-radius: 10px;
    animation: navpopup 500ms 70ms;
    animation-fill-mode: both;
}

@keyframes navpopup {
    0% {
        top: -1000px;
    }

    100% {
        top: 50px;
    }
}

.navpopup__child {
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.navpopup__child {
    list-style-type: none;
}

.navpopup__child li {
    margin-top: 10px;
    cursor: pointer;
    transition: border-bottom 300ms ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

.navpopup__child li:hover {
    border-bottom: 1px solid white;
}